[Desktop Entry]
Version=1.0
Name=Reel
GenericName=Disc Ripper
Comment=Rip and backup Blu-ray and DVD discs using MakeMKV
Exec=reel
Icon=reel
Terminal=false
Type=Application
Categories=AudioVideo;Video;
Keywords=DVD;Blu-ray;MKV;Converter;Streamer;
MimeType=x-content/video-bluray;x-content/video-dvd;
